<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<PopulationSize>200</PopulationSize>
	<TreeDepth>10</TreeDepth>
	<PolyDegree>2</PolyDegree>
	<SurvivalThreshold>50</SurvivalThreshold>
	<TrainingDataFrom>-100</TrainingDataFrom>
	<TrainingDataTo>100</TrainingDataTo>
	<TrainingDataCount>100</TrainingDataCount>
	<MutationProbability>0.8</MutationProbability>
	<CrossoverProbability>0.8</CrossoverProbability>
</Config>